@charset "UTF-8";
@font-face {
  font-family: 'Fira Sans';
  src: url("") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main section p {
  margin: 30px;
  padding: 15px;
  width: 80%;
}

.contenedorTitulos {
  margin-top: 130px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tituloPrincipal {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  top: 10px;
  bottom: 20px;
}

.frase {
  background-color: rgba(222, 189, 174, 0.7);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

.tamaño {
  width: 300px;
  height: 300px;
}

.sectionPrincipal {
  width: 100%;
  height: 150vh;
}

.tamañoImagenPrincipal {
  background-image: url("../imagenes/imagen-principal.jpg");
}

.tamañoImagenPrincipal {
  background-size: cover;
  width: 100%;
  height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: inicio;
  animation-duration: 3s;
}

@keyframes inicio {
  0% {
    transform: scale 1;
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.producto {
  margin: 100px;
  padding: 1rem;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.producto__div {
  width: 300px;
  height: 500px;
}

.producto__titulo {
  width: 300px;
  height: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

.producto__precio {
  font-size: 20px;
  margin: 10px;
  width: 300px;
  height: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.producto__descripcion {
  font-size: 16px;
  margin: 10px;
  width: 300px;
  height: 100px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.producto__imagen {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  transition: transform 2s;
}

.producto__imagen:hover {
  transform: scale(1.5);
}

.imagenesCarrousel {
  width: 100%;
  height: 100vh;
}

.whatsapp {
  font-size: 32px;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.header {
  position: fixed;
  width: 100%;
  max-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 10px;
  background-color: #debdae;
  z-index: 10;
}

.header__logo {
  height: 100px;
  width: 100px;
  margin-left: 30px;
}

.header__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  right: 10px;
  margin-right: 20px;
}

.header__textos {
  width: 30px;
  height: 20px;
  align-content: center;
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
  align-items: center;
  color: white;
  font-weight: bold;
}

.navbar {
  list-style-type: none;
  font-size: 15px;
}

.btn-outline-success {
  color: white;
  border-color: white;
}

.header__open {
  display: none;
}

.cerrar {
  display: none;
}

.contenedorParrafo {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nordico__background {
  background-image: url(../imagenes/estiloNordico.png);
}

.nordico__background {
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: inicio;
  animation-duration: 3s;
}

@keyframes inicio {
  0% {
    transform: scale 1;
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.boho__background {
  background-image: url(../imagenes/estiloBohoChic.png);
}

.boho__background {
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: inicio;
  animation-duration: 3s;
}

@keyframes inicio {
  0% {
    transform: scale 1;
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.textoDecoracion {
  width: 90%;
  font-size: 20px;
  font-family: Arial;
  text-align: center;
}

.parrafoPrincipal {
  font-family: Arial;
  font-size: 20px;
  text-align: center;
  width: 80%;
}

.titulo__decoracion {
  color: black;
  background-color: rgba(222, 189, 174, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  top: 10px;
  bottom: 20px;
}

.titulo {
  color: #dac0a9;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.titulosLlamativos {
  color: #dac0a9;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

.decoracionSeccion {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.decoracion__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
}

.decoracion__imagen {
  width: 350px;
  height: 400px;
  border-radius: 30px;
  transition: transform 2s;
}

.decoracion__imagen:hover {
  transform: scale(1.5);
}

.decoracion__titulos {
  font-size: 15px;
  font-weight: bolder;
  font-family: Arial;
  font-style: italic;
}

.imagen__estilo {
  padding: 1rem;
  width: 100%;
  height: 20%;
}

.acordeon_titulo {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
}

.acordeon_texto {
  font-family: Arial;
  font-size: 16px;
}

.w-100 {
  height: 125vh;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  font-weight: bold;
}

.grid {
  padding: 1rem;
  max-width: 80%;
  display: grid;
  grid-template-columns: 380px 380px 380px;
  grid-template-rows: 100px 500px 500px;
  justify-content: center;
  align-items: center;
  grid-template-areas: "ele1 ele1 ele1" "ele2 ele3 ele4" "ele5 ele6 ele7";
}

.grid__hijo--1 {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-area: ele1;
}

.grid__hijo--2 {
  grid-area: ele2;
  object-fit: cover;
  align-content: center;
}

.grid__hijo--3 {
  grid-area: ele3;
  object-fit: cover;
  align-content: center;
}

.grid__hijo--4 {
  grid-area: ele4;
  object-fit: cover;
  align-content: center;
}

.grid__hijo--5 {
  grid-area: ele5;
  object-fit: cover;
  align-content: center;
}

.grid__hijo--6 {
  grid-area: ele6;
  object-fit: cover;
  align-content: center;
}

.grid__hijo--7 {
  grid-area: ele7;
  object-fit: cover;
  align-content: center;
}

.nuestraHistoria {
  margin-top: 100px;
  padding: 1rem;
  width: 90%;
  display: flex;
  direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.iconos__flexbox {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.iconos__div {
  width: 150px;
  height: 150px;
}

.nuestraHistoria__titulos {
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

.nuestraHistoria__fondoIconos {
  background-color: #debdae;
  color: #fff;
  border-radius: 8px;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 150px;
  height: 150px;
}

.nuestraHistoria__iconos {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  transform: rotate(0deg);
  transition: transform 1s;
}

.nuestraHistoria__fondoIconos:hover .nuestraHistoria__iconos {
  transform: rotate(35deg);
}

.nuestraHistoria__flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
  font-stretch: condensed;
}

.nuestraHistoria__parrafos {
  font-size: 16px;
  font-weight: normal;
  color: black;
  font-family: Arial;
  margin-top: 20px;
  align-self: center;
  font-stretch: condensed;
}

.nuestraHistoria__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.nuestraHistoria__background {
  background-image: url("../imagenes/backgroundImage.jpg");
}

.nuestraHistoria__background {
  background-size: contain;
  height: 66vh;
}

.nuestrahistoria__imagenes {
  width: 100%;
  height: 80%;
  border-radius: 30px;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nuestraHistoria__tamaño {
  width: 100%;
  height: 100%;
}

.imagenSustentabilidad {
  display: none;
}

.personas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lista {
  text-decoration: none;
  text-align: center;
}

.footer {
  width: 100%;
  max-height: 200px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 10px;
  background-color: #dac0a9;
  margin-top: 50px;
}

.footer__div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  flex: block;
  width: 100px;
  height: 100px;
}

.footer__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
}

.btn-instagram {
  color: #833AB4;
}

.btn-facebook {
  color: #3b5998;
}

.btn-twitter {
  color: #1DA1F2;
}

.btn-whatsapp {
  color: #25D366;
}

.contacto__background {
  background-image: url("../imagenes/tendencias-contacto.jpg");
}

.contacto__titulo {
  font-family: Arial;
  color: black;
  margin-top: 130px;
  margin-bottom: 20px;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacto__background {
  background-size: 100%;
  height: 137vh;
  animation-name: inicio;
  animation-duration: 3s;
}

@keyframes inicio {
  0% {
    transform: scale 1;
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.tamañoMapa {
  width: 100%;
  margin-bottom: 30px;
}

.btn-primary {
  color: #fff;
  background-color: #debdae;
  border-color: #debdae;
}

.form-check-input:checked {
  background-color: #debdae;
  border-color: #debdae;
}

.contacto__background {
  height: 137vh;
}

@media screen and (max-width: 1023px) {
  .header {
    flex-direction: column;
    max-height: 150px;
  }
  .decoracion__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
  }
  .decoracion__imagen {
    width: 230px;
    height: 280px;
    border-radius: 30px;
  }
  .grid {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .nuestraHistoria__flexbox {
    height: 50vh;
  }
  .nuestraHistoria__background {
    height: 50vh;
  }
  .nuestraHistoria__parrafos {
    font-size: 14px;
  }
  .header__textos {
    font-size: 14px;
  }
  .contacto__background {
    height: 124vh;
  }
  .form-control {
    display: block;
    width: 50%;
    height: 50%;
    font-size: 12px;
    font-weight: normal;
  }
  .btn-outline-success {
    width: 100px;
  }
  .btn {
    line-height: 1;
  }
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
  }
  .header__open {
    display: block;
    font-size: 32px;
    color: white;
    text-decoration: none;
  }
  .cerrar {
    display: block;
    transition: 1s;
    text-decoration: none;
    color: white;
  }
  .cerrar:target .header__logo {
    height: 70px;
    width: 70px;
  }
  .Col-1 {
    width: 100;
  }
  .Col-2 {
    width: 200;
  }
  .Col-3 {
    width: 300;
  }
  .Col-4 {
    width: 400;
  }
  .Col-5 {
    width: 500;
  }
  .Col-6 {
    width: 600;
  }
  .Col-7 {
    width: 700;
  }
  .Col-8 {
    width: 800;
  }
  .Col-9 {
    width: 900;
  }
  .Col-10 {
    width: 1000;
  }
  .Col-11 {
    width: 1100;
  }
  .Col-12 {
    width: 1200;
  }
  .navbar {
    display: none;
  }
  .tituloPrincipal {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .titulo {
    font-size: 16px;
  }
  .tamañoImagenPrincipal {
    width: 100%;
    height: 30%;
    margin: 0%;
    margin-top: 20px;
  }
  .frase {
    font-size: 14px;
  }
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .producto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    gap: 10px;
    margin: 0;
    margin-left: 30px;
    padding: 10px;
  }
  .producto__div {
    justify-content: center;
    width: 100%;
    height: 365px;
    margin: 0 0 5px 0;
  }
  .producto__titulo {
    font-size: 16px;
    width: 100%;
  }
  .producto__precio {
    font-size: 16px;
    width: 100%;
    height: 20px;
    margin: 0;
  }
  .producto__descripcion {
    font-size: 14px;
    width: 100%;
    height: 50px;
    margin: 0 0 5px 0;
  }
  .producto__imagen {
    width: 100%;
    height: 250px;
  }
  .imagenesCarousel {
    display: block;
    width: 100%;
    height: 25%;
  }
  .carouselContenedor {
    margin-bottom: 100px;
  }
  .carouselDiv {
    width: 100%;
    height: 20%;
  }
  .contenedorParrafo {
    margin-top: 10px;
    padding: 0;
    width: 100%;
  }
  .textoDecoracion {
    font-size: 16px;
  }
  .parrafoPrincipal {
    text-align: center;
    font-size: 16px;
  }
  .decoracionSeccion {
    padding: 0;
    margin-left: 0;
  }
  .imagen__estilo {
    width: 100%;
    height: 20%;
    padding: 0;
  }
  .nuestraHistoria__flexbox {
    height: 80vh;
  }
  .nuestraHistoria__parrafos {
    font-size: 14px;
  }
  .nuestraHistoria__background {
    height: 80vh;
  }
  .footer {
    margin-top: 100px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__logo {
    width: 70px;
    height: 70px;
  }
  .footer__list {
    font-size: 15px;
  }
  .titulosLlamativos {
    font-size: 15px;
  }
  .decoracion__div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 200px;
  }
  .textoDecoracion {
    font-size: 12px;
    text-align: center;
  }
  .nordico__background {
    height: 50vh;
  }
  .boho__background {
    height: 50vh;
  }
  .acordeon_texto {
    font-size: 14px;
  }
  .accordion-button {
    font-size: 14px;
  }
  .grid {
    margin-top: 20px;
    margin-left: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 20px;
  }
  .decoracion__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
  }
  .decoracion__titulos {
    font-size: 12px;
  }
  .decoracion__imagen {
    width: 120px;
    height: 150px;
    border-radius: 15px;
  }
  .iconos__flexbox {
    margin-top: 20px;
    margin-bottom: 35px;
    max-width: 80%;
    gap: 54px;
  }
  .iconos__div {
    width: 50px;
    height: 100px;
  }
  .nuestraHistoria__background {
    background-image: url("../imagenes/backgroundImageMobile.jpg");
  }
  .nuestraHistoria__fondoIconos {
    width: 95px;
    height: 100px;
  }
  .nuestraHistoria__iconos {
    width: 70px;
    height: 70px;
  }
  .acordeon_titulo {
    font-size: 16px;
  }
  #lateral {
    display: block;
    background-color: rgba(222, 189, 174, 0.7);
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: left 1s;
  }
  #lateral:target {
    left: 0;
  }
  .header__list {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }
  .nav__item--close {
    display: block;
  }
}

.nuestraHistoria__div {
  margin-left: 0;
}

.contacto__background {
  height: 80vh;
}

.contacto__titulo {
  height: 77vh;
}

form {
  display: block;
  align-self: center;
}

.form-text {
  font-size: 12px;
}
/*# sourceMappingURL=styles.css.map */