* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


main section p {
    margin: 30px;
    padding: 15px;
    width: 80%;
}

.contenedorTitulos {
    margin-top: 130px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloPrincipal {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    top: 10px;
    bottom: 20px;
}

.frase {
    background-color: $color-principal-opacity;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

.tamaño {
    width: 300px;
    height: 300px;
}

.sectionPrincipal {
    width: 100%;
    height: 150vh;
}


.tamañoImagenPrincipal {
    background-size: cover;
    width: 100%;
    height: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: inicio;
    animation-duration: 3s;

    & {
        background-image: url("../imagenes/imagen-principal.jpg");
    }
}

@keyframes inicio {
    0% {
        transform: scale 1;
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1)
    }
}

.producto {
    margin: 100px;
    padding: 1rem;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__div {
        width: 300px;
        height: 500px;
    }

    &__titulo {
        width: 300px;
        height: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
    }
    &__imagen {
        width: 300px;
        height: 300px;
        border-radius: 30px;
        transition: transform 2s;
        
        &:hover {
            transform: scale(1.2);
        }
    }
    
    
    
}




@mixin producto ($font-size, $margin, $width, $height) {
    font-size: $font-size;
    margin: $margin;
    width: $width;
    height: $height;
}

.producto__precio {
    @include producto (20px, 10px, 300px, 20px);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.producto__descripcion {
    @include producto (16px, 10px, 300px, 100px);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.imagenesCarrousel {
    width: 100%;
    height: 100vh;
}

.whatsapp {
    font-size: 32px;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}