.contacto__background {
    height: 137vh;
}
@media screen and (max-width: 1023px) {
    .header {
        flex-direction: column;
        max-height: 150px;
    }

    .decoracion__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 350px;
    }

    .decoracion__imagen {
        width: 230px;
        height: 280px;
        border-radius: 30px;
    }

    .grid {
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .nuestraHistoria__flexbox {
        height: 50vh;
    }

    .nuestraHistoria__background {
        height: 50vh;
    }

    .nuestraHistoria__parrafos {
        font-size: 14px;
    }

    .header__textos {
        font-size: 14px;
    }

    .contacto__background {
        height: 124vh;
    }

    .form-control {
        display: block;
        width: 50%;
        height: 50%;
        font-size: 12px;
        font-weight: normal;
    }

    .btn-outline-success {
        width: 100px;
    }

    .btn {
        line-height: 1;
    }

}

@media screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-items: space-between;
    }

    .header__open {
        display: block;
        font-size: 32px;
        color: white;
        text-decoration: none;
    }

    .cerrar {
        display: block;
        transition: 1s;
        text-decoration: none;
        color: white;
    }

    .cerrar:target .header__logo {
        height: 70px;
        width: 70px;
    }

    @for$i from 1 through 12 {
        .Col-#{$i} {
            width: (100)*$i
        }
    }

    .navbar {
        display: none;
    }

    .tituloPrincipal {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .titulo {
        font-size: 16px;
    }

    .tamañoImagenPrincipal {
        width: 100%;
        height: 30%;
        margin: 0%;
        margin-top: 20px;
    }

    .frase {
        font-size: 14px;
    }

    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .producto {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        gap: 10px;
        margin: 0;
        margin-left: 30px;
        padding: 10px;
    }

    .producto__div {
        justify-content: center;
        width: 100%;
        height: 365px;
        margin: 0 0 5px 0;
    }

    .producto__titulo {
        font-size: 16px;
        width: 100%;
    }

    .producto__precio {
        font-size: 16px;
        width: 100%;
        height: 20px;
        margin: 0;
    }

    .producto__descripcion {
        font-size: 14px;
        width: 100%;
        height: 50px;
        margin: 0 0 5px 0;
    }

    .producto__imagen {
        width: 100%;
        height: 250px;
    }

    .imagenesCarrousel {
        width: 100%;
        height: 50vh;
    }
    .d-block { 
        height: 50vh;
    }

    .carouselContenedor {
        margin-bottom: 100px;
    }

    .carouselDiv {
        width: 100%;
        height: 20%;
    }

    .contenedorParrafo {
        margin-top: 10px;
        padding: 0;
        width: 100%;
    }

    .textoDecoracion {
        font-size: 16px;
    }

    .parrafoPrincipal {
        text-align: center;
        font-size: 16px;
    }

    .decoracionSeccion {
        padding: 0;
        margin-left: 0;
    }

    .imagen__estilo {
        width: 100%;
        height: 20%;
        padding: 0;
    }

    .nuestraHistoria__flexbox {
        height: 80vh;
    }

    .nuestraHistoria__parrafos {
        font-size: 14px;
    }

    .nuestraHistoria__background {
        height: 80vh;
    }

    .footer {
        margin-top: 100px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__logo {
        width: 70px;
        height: 70px;
    }

    .footer__list {
        font-size: 15px;
    }

    .titulosLlamativos {
        font-size: 15px;
    }

    .decoracion__div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 144px;
        height: 200px;
    }

    .textoDecoracion {
        font-size: 12px;
        text-align: center;
    }
    .nordico__background {
        height: 50vh;
    }
    .boho__background {
        height: 50vh;
    }
    .acordeon_texto {
        font-size: 14px;
    }
    .accordion-button {
        font-size: 14px;
    }
    .grid {
        margin-top: 20px;
        margin-left: 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        gap: 20px;
    }

    .decoracion__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
    }

    .decoracion__titulos {
        font-size: 12px;
    }

    .decoracion__imagen {
        width: 120px;
        height: 150px;
        border-radius: 15px;
    }

    .iconos__flexbox {
        margin-top: 20px;
        margin-bottom: 35px;
        max-width: 80%;
        gap: 54px;
    }

    .iconos__div {
        width: 50px;
        height: 100px;
    }

    .nuestraHistoria__background {
        background-image: url("../imagenes/backgroundImageMobile.jpg");
    }

    .nuestraHistoria__fondoIconos {
        width: 95px;
        height: 100px;
    }

    .nuestraHistoria__iconos {
        width: 70px;
        height: 70px;
    }

    .acordeon_titulo {
        font-size: 16px;
    }

    #lateral {
        display: block;
        background-color: $color-principal-opacity;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 100;
        transition: left 1s;
    }

    #lateral:target {
        left: 0;
    }

    .header__list {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        text-align: center;
    }

    .nav__item--close {
        display: block;
    }
}

.nuestraHistoria__div {

    margin-left: 0;
}

.contacto__background {
    height: 80vh;
}

.contacto__titulo {
    height: 77vh;
}

form {
    display: block;
    align-self: center;
}

.form-text {
    font-size: 12px;
}